html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
h2 {
    margin-top: 0px;
}
img {
    display: block;
    width: 100%;
    height: 100%;
}

.about-section {
    padding-top: 20px;
    padding-bottom: 60px;
}

.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    @media screen and (min-width: 480px) {
        max-width: 480px;
    }
    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }
    @include desktop-plus {
        max-width: 1800px;
    }
}
.flex-container {
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }
    @include desktop {
        margin-bottom: 92px;
    }
    @include desktop-plus {
        margin-bottom: 102px;
    }
}
.box-set {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    align-content: flex-start;
    
    @include tablet {
        float: right;
        width: 380px; 
        margin-left: 10px;
    }
    @include desktop {
        width: 737px;
    }
    @include desktop-plus {
        width: 1203px;
    }
}

.box {
    outline: auto;
    margin-bottom: 10px;
    max-height: 150px;

    flex-basis: calc(100% / 2 - 10px);
    margin-left: 10px;
    @include desktop {
        flex-basis: calc(100% / 3 - 10px);
        max-height: 200px;
    }
    @include desktop-plus {
        max-height: 300px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.clearfix {
    clear: both;
}
